/* About.module.css */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
:root {
    --clr1: #f95b11;
    --clr2: #fff;
    --clr3: #000;
    --clr4: #f42f1d;
    --clr5: limegreen;
}
.about-inner h5 {
    padding: 0 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}

/*.about-inner h5:hover {*/
/*    transition: 1s ease;*/
/*    transform: translateX(2rem);*/
/*}*/

.about-inner .fas {
    color: var(--clr4);
    padding-right: 1rem;
}
.btn{
    display: inline-block;
    padding: 22px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5rem;
    transition: all .38s ease;
}
.btn:hover{
    letter-spacing: 1px;
}