body,
html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 32px;
    top: 26px;
}
.bm-burger-bars {
    background: #373a47;
}
.bm-cross-button {
    height: 24px;
    width: 24px;
}
.bm-cross {
    background: #bdc3c7;
}
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0 ;
    font-size: 1.15em;
}
.burgerVisible{
    display: none;
}
@media only screen and (max-width: 620px){
    .burgerVisible {
        display: flex;
    }

    .menuVisible {
        display: none;
    }
}