.container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    font-size: 24px;
    color: #444;
    width: 100%;

}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .title {
        text-align: center;
    }

    .desc {
        width: 90%;
        text-align: center;
    }
}
/* Styles for MenuCard component */
.card {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.image {
    max-width: 50%;
    height: auto;
}

.card:hover {
    transform: scale(1.05);
}

.cardContent {
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #d1411e;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.desc {
    text-align: center;
    color: #777;
}

@media screen and (max-width: 768px) {
    /*.card {*/
    /*    width: 100%;*/
    /*}*/
    /* Additional styles for smaller screens */

    .wrapper {
        flex-direction: column;
        align-items: center; /* Optional: Stretch items to full width */
        width: 100%;
    ;
    }.card {
        width: 100%;
         }
    .title {
        font-size: 30px;
    }

    .price,
    .desc {
        font-size: 24px;
    }
}
