.container {
    height: 100px;
    padding: 0 50px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}

.item:nth-child(2) {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:last-child {
    justify-content: flex-end;
}

.callButton {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.texts {
    margin-left: 20px;
    color: white;
}

.text:first-child {
    font-size: 12px;
    font-weight: 500;
}

.text:last-child {
    font-size: 20px;
    font-weight: bold;
}

.list {
    flex: 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around; /* or 'space-between' based on your preference */
    list-style: none;
    color: white;
}


.listItem {
    margin: 20px;
    font-weight: 500;
}




/* Add these styles to Navbar.module.css */
.socialicons {
    display: flex;
    align-items: flex-end;
}

.socialicons a {
    margin-left: 20px; /* Adjust the margin as needed */
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.socialicons a:hover {
    color: #000000 ; /* Change the color on hover as needed */
}
.active {
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .item:nth-child(2) {
        display: none;
    }

    .item:first-child {
        flex: 1;
    }

    .item:last-child {
        display: none;
    }
}
